Package: com.ducksrepo.maildark
Name: MailDark
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Turnt Ducky
Author: Turnt Ducky
Section: Tweaks
