Package: com.ducksrepo.colordock
Name: ColorDock
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Turnt Ducky
Author: Turnt Ducky
Section: Tweaks
