Package: com.ducksrepo.darksnap
Name: SnapDark
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Make SnapChat dark
Maintainer: Turnt Ducky
Author: Turnt Ducky
Section: Tweaks
