Package: com.ducksrepo.maildark
Name: MailDark
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Turnt Ducky
Author: Turnt Ducky
Section: Tweaks
Version: 0.0.1-3+debug
Installed-Size: 120
