Package: com.ducksrepo.mastertweak
Name: Master Tweak
Depends: mobilesubstrate
Version: 1.0.8
Architecture: iphoneos-arm
Description: A Master tweak with small tweaks added to it!
Maintainer: Turnt Ducky
Author: Turnt Ducky
Section: Tweaks
Depiction: https://idevicehacked.com/ducky/repo/depictions/?p=com.ducksrepo.mastertweak
