Package: com.ducksrepo.instadark
Name: InstaDark
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A instagram Darkmode.
Maintainer: Turnt Ducky
Author: Turnt Ducky
Section: Tweaks
Version: 1.0.0-47+debug
Installed-Size: 200
