<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
<dict>
    <key>cell</key>
    <string>PSGroupCell</string>
    <key>footerText</key>
    <string>Show percentage on CC sliders (NEEDS RESPRING).</string>
 </dict>
 <dict>
    <key>cell</key>
    <string>PSSwitchCell</string>
    <key>default</key>
    <false/>
    <key>defaults</key>
    <string>com.ducksrepo.mastertweakprefs</string>
    <key>key</key>
    <string>percent</string>
    <key>label</key>
    <string>Enable CC percentage</string>
    <key>PostNotificaton</key>
    <string>com.ducksrepo.mastertweak/preferences.changed</string>
</dict>
<dict>
    <key>cell</key>
    <string>PSGroupCell</string>
    <key>footerText</key>
    <string>Actually disable wifi and bluetooth in control center</string>
 </dict>
 <dict>
    <key>cell</key>
    <string>PSSwitchCell</string>
    <key>default</key>
    <false/>
    <key>defaults</key>
    <string>com.ducksrepo.mastertweakprefs</string>
    <key>key</key>
    <string>wifi</string>
    <key>label</key>
    <string>Complete wifi disable</string>
    <key>PostNotificaton</key>
    <string>com.ducksrepo.mastertweak/preferences.changed</string>
</dict>
<dict>
		<key>cell</key>
		<string>PSGroupCell</string>
</dict>
<dict>
  <key>action</key>
    <string>respring:</string>
  <key>cell</key>
    <string>PSButtonCell</string>
    <key>label</key>
    <string>Respring</string>
</dict>
</array>
<key>title</key>
<string>Control Center</string>
</dict>
</plist>
