<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
  <dict>
      <key>cell</key>
      <string>PSTextCell</string>
      <key>label</key>
      <string>Squ1dd13</string>
			<key>action</key>
			<string>squiddy</string>
  </dict>
  <dict>
      <key>cell</key>
      <string>PSTextCell</string>
      <key>label</key>
      <string>JunesiPhone</string>
			<key>action</key>
			<string>Junes</string>
	</dict>
  <dict>
      <key>cell</key>
      <string>PSTextCell</string>
      <key>label</key>
      <string>Lucifers Circle</string>
			<key>action</key>
			<string>Luci</string>
	</dict>
  <dict>
      <key>cell</key>
      <string>PSTextCell</string>
      <key>label</key>
      <string>Kiet</string>
			<key>action</key>
			<string>Kiet</string>
	</dict>
  <dict>
      <key>cell</key>
      <string>PSTextCell</string>
      <key>label</key>
      <string>MidnightChips</string>
			<key>action</key>
			<string>Chips</string>
	</dict>
	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Thank you to everyone who has helped me along the way with developing this tweak. It has helped me learn so many things.</string>
	 </dict>

  </array>
  <key>title</key>
  <string>Contributors</string>
</dict>
</plist>
