<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
<dict>
  <key>cell</key>
  <string>PSGroupCell</string>
  <key>label</key>
  <string>Lockscreen items</string>
</dict>
<dict>
    <key>cell</key>
    <string>PSSwitchCell</string>
    <key>default</key>
    <false/>
    <key>defaults</key>
    <string>com.ducksrepo.mastertweakprefs</string>
    <key>key</key>
    <string>hideccline</string>
    <key>label</key>
    <string>Hide Control Center line</string>
    <key>PostNotification</key>
    <string>com.ducksrepo.mastertweak/preferences.changed</string>
  </dict>
  <dict>
    <key>cell</key>
    <string>PSSwitchCell</string>
    <key>default</key>
    <false/>
    <key>defaults</key>
    <string>com.ducksrepo.mastertweakprefs</string>
    <key>key</key>
    <string>hidehomebar</string>
    <key>label</key>
    <string>Hide Homebar</string>
    <key>PostNotification</key>
    <string>com.ducksrepo.mastertweak/preferences.changed</string>
  </dict>
  <dict>
    <key>cell</key>
    <string>PSSwitchCell</string>
    <key>default</key>
    <false/>
    <key>defaults</key>
    <string>com.ducksrepo.mastertweakprefs</string>
    <key>key</key>
    <string>hidehometext</string>
    <key>label</key>
    <string>Hide Home Text</string>
    <key>PostNotification</key>
    <string>com.ducksrepo.mastertweak/preferences.changed</string>
  </dict>
  <dict>
      <key>cell</key>
      <string>PSSwitchCell</string>
      <key>default</key>
      <false/>
      <key>defaults</key>
      <string>com.ducksrepo.mastertweakprefs</string>
      <key>key</key>
      <string>hidelock</string>
      <key>label</key>
      <string>Hide Lock Icon</string>
      <key>PostNotification</key>
      <string>com.ducksrepo.mastertweak/preferences.changed</string>
    </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ducksrepo.mastertweakprefs</string>
			<key>key</key>
			<string>hidecamera</string>
			<key>label</key>
			<string>Hide Camera</string>
			<key>PostNotification</key>
			<string>com.ducksrepo.mastertweak/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ducksrepo.mastertweakprefs</string>
			<key>key</key>
			<string>hideflashlight</string>
			<key>label</key>
			<string>Hide Flashlight</string>
			<key>PostNotification</key>
			<string>com.ducksrepo.mastertweak/preferences.changed</string>
		</dict>
	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
	</dict>
	<dict>
		<key>action</key>
			<string>respring:</string>
		<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
	</dict>
	</array>
	<key>title</key>
	<string>iPhone X</string>
</dict>
</plist>
